/* .productDetailesImage{
    width: 40%;
    align-self: center;
    margin: 3rem auto;
    @media screen and (max-width: 919px){
        width: 60%;
    }
} */
.productDetailesProductImage{
    width: 20%;
    align-self: flex-start;
    // border: black 2px solid;
    margin: 2rem;
    @media screen and (max-width:680px){
        width: 40%;
    }
    img {
            /* width: 100%;
            height: 100%;
            object-fit: cover; */
            max-width: 100%;
            max-height: 100%;
            object-fit: contain;
        }
}

.productDetailesReviewsDiv{
    display: flex;
    margin: 1rem;
    margin-top: 3rem;
    margin-right: 3rem;
    .productDetailesReviewsDiv1{
        width: 30%;
        // border: green 1px solid;
        text-align: start;
        h3{
            font-size: 1.2rem;
        }
        p{
            font-size: 0.8rem;
        }
        button{
            width: 100%;
        }
        .ratingPercentageDivPerRating{
            display: flex;
            flex-direction: row;
            p{
                font-size: 1rem;
            }
        }
        .productDetailesReviewsDiv1Rating{
            // border: black 1px solid;
            height: fit-content;
            h1{
                font-size: 1.5rem !important;
            }
            .ParentRatingPercentageDiv{
                display: inline-block;
                border: black 1px solid;
                height: 1.4rem;
                width: 70%;
                margin: 0 10px 0 10px;
                .childRatingPercentageDiv{
                    background-color: gold;
                    border: black 1px solid;
                }
            }
        }
    }
    .productDetailesReviewsDiv2{
        margin-left: 1rem;
        h1{
            font-size: 1.3rem;
            margin-left: 1rem;
        }
    }
}